<!DOCTYPE html>
<html class="x-strict">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        行动企 - 应聘工作首选
    </title>


    <script src="../js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="../js/popup/popup.js" type="text/javascript"></script>
    <link href="../css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../js/JScalendar.js"></script>
    <script type="text/javascript" src="../jquery-validation/1.11.0/jquery.validate.js"></script>
    <script type="text/javascript" src="../layer/layer.js"></script>
    <script type="text/javascript" src="../pager/kkpager.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/home/home.js"></script>
    <link href="../css/all.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" type="text/css" rel="stylesheet">
    <link type="text/css" src="../jquery-validation/1.11.0/jquery.validate.css">
    <link type="text/css" src="../pager/kkpager_blue.css">
    <link rel="icon" href="data:;base64,=">
    <style>
        #kkpager {
            clear: both;
            color: #999;
            padding: 5px 0px 5px 0px;
            font-size: 13px;
        }

        #kkpager a {
            float: left;
            border: 1px solid #ccc;
            display: inline;
            padding: 0px 10px;
            line-height: 21px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            cursor: pointer;
            background: #fff;
            text-decoration: none;
            color: #999;
        }

        #kkpager span.disabled {
            float: left;
            display: inline;
            padding: 3px 10px 3px 10px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #DFDFDF;
            background-color: #FFF;
            color: #DFDFDF;
        }

        #kkpager span.curr {
            float: left;
            border: 1px solid #31ACE2;
            display: inline;
            padding: 3px 10px 3px 10px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background: #F0FDFF;
            color: #31ACE2;
        }

        #kkpager a:hover {
            border: 1px solid #31ACE2;
            background-color: #31ACE2;
            color: #fff;
        }

        #kkpager span.normalsize {
        }

        #kkpager_gopage_wrap {
            position: relative;
            left: 0px;
            top: 0px;
        }

        #kkpager_btn_go {
            width: 44px;
            height: 18px;
            border: 0px;
            overflow: hidden;
            line-height: 140%;
            padding: 0px;
            margin: 0px;
            text-align: center;
            cursor: pointer;
            background-color: #31ACE2;
            color: #FFF;
            position: absolute;
            left: 0px;
            top: -2px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            display: none;
        }

        #kkpager_btn_go_input {
            width: 36px;
            height: 14px;
            color: #999;
            text-align: center;
            margin-left: 1px;
            margin-right: 1px;
            border: 1px solid #DFDFDF;
            position: relative;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            left: 0px;
            top: 0px;
            outline: none;
        }

        #kkpager_btn_go_input.focus {
            border-color: #31ACE2;
        }

        #kkpager .pageBtnWrap {
            float: left;
        }

        #kkpager .infoTextAndGoPageBtnWrap {
            float: left;
        }

        #kkpager .spanDot {
            float: left;
            margin-right: 5px;
        }

        #kkpager .currPageNum {
            color: #FD7F4D;
        }

        #kkpager .infoTextAndGoPageBtnWrap {
            line-height: 23px;
            padding: 0 5px;
        }

        #kkpager .totalRecords {
            float: right;
            margin-right: 5px;
        }
    </style>
</head>

<body class="x-body x-webkit x-chrome x-mac f-body f-theme-neptune" id="ext-gen1018">
<div id="ContainerPanel" style="display:none;">
    <div id="calendarPanel"
         style="position: absolute;display: none;z-index: 9999;background-color: #FFFFFF;border: 1px solid #CCCCCC;width:175px;font-size:12px;margin-left:25px;"></div>
</div>

<div class="header">
</div>

<div>
    <div>
        <table class="daohang">
            <tbody>
            <tr>
                <td align="left" style="width:65%">
                    &nbsp;&nbsp;&nbsp;
                    <div id="ctl00_ContentPlaceHolder1_lblInfo_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lblInfo" style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label id="ctl00_ContentPlaceHolder1_lblInfo-labelEl"
                                                                      for="ctl00_ContentPlaceHolder1_lblInfo-inputEl"
                                                                      class="x-form-item-label x-unselectable x-form-item-label-left"
                                                                      style="width:100px;margin-right:5px;"
                                                                      unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lblInfo-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lblInfo-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false"></div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="ctl00_ContentPlaceHolder1_lbnChangepassword_wrapper" class="f-inline-block">

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_lnkLogout_wrapper" class="f-inline-block">

                    </div>
                </td>

                <td align="center" style="width:18%">
                    <div id="ctl00_ContentPlaceHolder1_lbtjobquery_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lbtjobquery" style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label id="ctl00_ContentPlaceHolder1_lbtjobquery-labelEl"
                                                                      for="ctl00_ContentPlaceHolder1_lbtjobquery-inputEl"
                                                                      class="x-form-item-label x-unselectable x-form-item-label-left"
                                                                      style="width:100px;margin-right:5px;"
                                                                      unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lbtjobquery-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lbtjobquery-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false">
                                        <a href="/postInfoPage.html">网上报名</a>
                                    </div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td align="center" style="width:17%">
                    <div id="ctl00_ContentPlaceHolder1_lblPersonInfo_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lblPersonInfo" style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label
                                        id="ctl00_ContentPlaceHolder1_lblPersonInfo-labelEl"
                                        for="ctl00_ContentPlaceHolder1_lblPersonInfo-inputEl"
                                        class="x-form-item-label x-unselectable x-form-item-label-left"
                                        style="width:100px;margin-right:5px;" unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lblPersonInfo-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lblPersonInfo-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false">
                                        <a href="/getUserInfo.html">个人信息</a>
                                    </div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div id="content">
                <div id="contentL">
                    <div class="leftLogo"></div>
                    <div class="leftnews">
                        <div id="ctl00_ContentPlaceHolder1_Grid1_wrapper">
                            <div class="x-panel x-grid-with-row-lines x-grid-header-hidden x-panel-default x-grid x-border-box"
                                 style="height:410px;" id="ctl00_ContentPlaceHolder1_Grid1">
                                <div class="x-grid-header-ct x-grid-header-ct-hidden x-docked x-grid-header-ct-default x-docked-top x-grid-header-ct-docked-top x-grid-header-ct-default-docked-top x-box-layout-ct x-noborder-trl"
                                     style="height: 0px; right: auto; left: 0px; top: 0px; width: 650px;"
                                     id="headercontainer-1023">
                                    <div id="headercontainer-1023-innerCt" class="x-box-inner " role="presentation"
                                         style="width: 650px; height: 0px;">
                                        <div id="headercontainer-1023-targetEl" class="x-box-target"
                                             style="width: 650px;">
                                            <div class="x-column-header x-row-numberer x-column-header-align-right x-box-item x-column-header-default x-unselectable x-column-header-first"
                                                 style="width: 70px; right: auto; left: 0px; top: 0px; margin: 0px; height: 0px;"
                                                 id="ctl00_ContentPlaceHolder1_Grid1_ctl00">
                                                <div id="ctl00_ContentPlaceHolder1_Grid1_ctl00-titleEl"
                                                     class="x-column-header-inner"><span
                                                        id="ctl00_ContentPlaceHolder1_Grid1_ctl00-textEl"
                                                        class="x-column-header-text">序号</span></div>
                                            </div>
                                            <div class="x-column-header x-column-header-align-left x-box-item x-column-header-default x-unselectable x-column-header-last"
                                                 id="ctl00_ContentPlaceHolder1_Grid1_ctl01"
                                                 style="right: auto; left: 70px; top: 0px; margin: 0px; width: 565px; height: 0px;">
                                                <div id="ctl00_ContentPlaceHolder1_Grid1_ctl01-titleEl"
                                                     class="x-column-header-inner"><span
                                                        id="ctl00_ContentPlaceHolder1_Grid1_ctl01-textEl"
                                                        class="x-column-header-text">标题</span>
                                                    <div id="ctl00_ContentPlaceHolder1_Grid1_ctl01-triggerEl"
                                                         class="x-column-header-trigger" style=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ctl00_ContentPlaceHolder1_Grid1-body"
                                     class="x-panel-body x-grid-body x-panel-body-default x-layout-fit x-panel-body-default x-noborder-rl"
                                     style="width: 650px; height: 372px; left: 0px; top: 0px;">
                                    <div class="x-grid-view x-fit-item x-grid-view-default x-unselectable"
                                         id="gridview-1024" tabindex="-1"
                                         style="overflow: auto; width: 650px; height: 370px; margin: 0px;">
                                        <div id="typeId">
                                            <table role="presentation" id="gridview-1024-table"
                                                   class="x-gridview-1024-table x-grid-table x-grid-with-row-lines"
                                                   border="0" cellspacing="0" cellpadding="0" style="width: 635px;"
                                                   tabindex="-1">
                                                <colgroup>
                                                    <col class="x-grid-cell-ctl00_ContentPlaceHolder1_Grid1_ctl00"
                                                         style="width:70px">
                                                </colgroup>
                                                <colgroup>
                                                    <col class="x-grid-cell-ctl00_ContentPlaceHolder1_Grid1_ctl01"
                                                         style="width: 565px;">
                                                </colgroup>
                                                <tbody id="gridview-1024-body">
                                                <!--序号-->

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="x-toolbar x-toolbar-paging x-docked x-toolbar-default x-docked-bottom x-toolbar-docked-bottom x-toolbar-default-docked-bottom x-box-layout-ct x-noborder-rbl"
                                     id="ext-comp-1011" style="right: auto; left: 0px; top: 372px; width: 650px;">
                                    <!--分页-->
                                    <div id="kkpager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contentR">
                    <div>
                        <form method="post" action="/login" id="loginq">
                            <table border="0" cellpadding="0" width="99%" cellspacing="0">
                                <tbody>
                                <tr valign="top">
                                    <td style="padding-left:15px; height:30px;" colspan="2"><span
                                            style="font:600 14px Microsoft Yahei,冬青黑体简体中文 w3; color:#0b4894">  用户登录</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div id="ctl00_ContentPlaceHolder1_txtUserName_wrapper" class="f-inline-block">
                                            <table class="x-field x-table-plain x-form-item x-form-type-text x-field-default x-border-box"
                                                   cellpadding="0" id="ctl00_ContentPlaceHolder1_txtUserName"
                                                   style="table-layout: fixed;">
                                                <tbody>
                                                <tr role="presentation"
                                                    id="ctl00_ContentPlaceHolder1_txtUserName-inputRow"
                                                    class="x-form-item-input-row">
                                                    <td role="presentation"
                                                        id="ctl00_ContentPlaceHolder1_txtUserName-labelCell" style=""
                                                        valign="top" halign="left" width="65"
                                                        class="x-field-label-cell">
                                                        <label id="ctl00_ContentPlaceHolder1_txtUserName-labelEl"
                                                               class="x-form-item-label x-unselectable x-form-item-label-left"
                                                               style="width:60px;margin-right:5px;" unselectable="on">账　号：</label>
                                                    </td>
                                                    <td role="presentation" class="x-form-item-body  "
                                                        id="ctl00_ContentPlaceHolder1_txtUserName-bodyEl" colspan="2"
                                                        style="width: 150px;"><input id="userName" type="text" size="1"
                                                                                     name="userName"
                                                                                     class="required x-form-field x-form-text"
                                                                                     autocomplete="off"
                                                                                     aria-invalid="false"
                                                                                     style="width: 100%;"></td>
                                                    <td role="presentation"
                                                        id="ctl00_ContentPlaceHolder1_txtUserName-sideErrorCell"
                                                        valign="middle" style="display: none;" width="21">
                                                        <div role="presentation"
                                                             id="ctl00_ContentPlaceHolder1_txtUserName-errorEl"
                                                             class="x-form-error-msg x-form-invalid-icon"
                                                             style="display:none" data-errorqtip=""></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div id="ctl00_ContentPlaceHolder1_txtPassword_wrapper" class="f-inline-block">
                                            <table class="x-field x-table-plain x-form-item x-form-type-password x-field-default x-border-box"
                                                   cellpadding="0" id="ctl00_ContentPlaceHolder1_txtPassword"
                                                   style="table-layout: fixed;">
                                                <tbody>
                                                <tr role="presentation"
                                                    id="ctl00_ContentPlaceHolder1_txtPassword-inputRow"
                                                    class="x-form-item-input-row">
                                                    <td role="presentation"
                                                        id="ctl00_ContentPlaceHolder1_txtPassword-labelCell" style=""
                                                        valign="top" halign="left" width="65"
                                                        class="x-field-label-cell">
                                                        <label id="ctl00_ContentPlaceHolder1_txtPassword-labelEl"
                                                               class="x-form-item-label x-unselectable x-form-item-label-left"
                                                               style="width:60px;margin-right:5px;" unselectable="on">密　码：</label>
                                                    </td>
                                                    <td role="presentation" class="x-form-item-body  "
                                                        id="ctl00_ContentPlaceHolder1_txtPassword-bodyEl" colspan="2"
                                                        style="width: 150px;"><input id="password" type="password"
                                                                                     size="1" name="password"
                                                                                     class="required x-form-field x-form-text"
                                                                                     autocomplete="off"
                                                                                     aria-invalid="false"
                                                                                     style="width: 100%;"></td>
                                                    <td role="presentation"
                                                        id="ctl00_ContentPlaceHolder1_txtPassword-sideErrorCell"
                                                        valign="middle" style="display: none;" width="21">
                                                        <div role="presentation"
                                                             id="ctl00_ContentPlaceHolder1_txtPassword-errorEl"
                                                             class="x-form-error-msg x-form-invalid-icon"
                                                             style="display:none" data-errorqtip=""></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr align="right">

                                    <td height="40" colspan="2" align="center">
                                        <div id="ctl00_ContentPlaceHolder1_btnLogin_wrapper" class="f-inline-block">
                                            <a class="x-btn x-btn-text-icon x-unselectable x-btn-default-small x-icon-text-left x-btn-icon-text-left x-btn-default-small-icon-text-left x-border-box"
                                               role="button" hidefocus="on" unselectable="on" tabindex="0"
                                               id="ctl00_ContentPlaceHolder1_btnLogin"><span
                                                    id="ctl00_ContentPlaceHolder1_btnLogin-btnWrap" class="x-btn-wrap"
                                                    unselectable="on" onclick="toLogin()"><span
                                                    id="ctl00_ContentPlaceHolder1_btnLogin-btnEl"
                                                    class="x-btn-button"><span
                                                    id="ctl00_ContentPlaceHolder1_btnLogin-btnInnerEl"
                                                    class="x-btn-inner x-btn-inner-center"
                                                    unselectable="on">登录</span><span role="img"
                                                                                     id="ctl00_ContentPlaceHolder1_btnLogin-btnIconEl"
                                                                                     class="x-btn-icon-el  "
                                                                                     unselectable="on"
                                                                                     style="background-image:url(../res/icon/lorry_go.png);">&nbsp;</span></span>
															</span>
                                            </a>
                                        </div>&nbsp;&nbsp;&nbsp;
                                        <div id="ctl00_ContentPlaceHolder1_btnRegister_wrapper" class="f-inline-block">
                                            <a class="x-btn x-btn-text-icon x-unselectable x-btn-default-small x-icon-text-left x-btn-icon-text-left x-btn-default-small-icon-text-left x-border-box"
                                               role="button" hidefocus="on" unselectable="on" tabindex="0"
                                               href="toRegister.html" target="_blank"><span class="x-btn-wrap"
                                                                                       unselectable="on"><span
                                                    id="ctl00_ContentPlaceHolder1_btnRegister-btnEl"
                                                    class="x-btn-button"><span

                                                    class="x-btn-inner x-btn-inner-center"
                                                    unselectable="on">注册</span><span role="img"
                                                                                     id="ctl00_ContentPlaceHolder1_btnRegister-btnIconEl"
                                                                                     class="x-btn-icon-el  "
                                                                                     unselectable="on"
                                                                                     style="background-image:url(../res/icon/application_add.png);">&nbsp;</span></span>
															</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="contact">
                        <div class="image"><img style="width: 200px" src="../img/1.jpg"></div>
                    </div>
                </div>
                <div class="clearfloat"></div>
            </div>
        </div>

        <div class="botton">版权所有 © 和臣 - 行动企<br> 备案号 ： 粤ICP备19159726号-1</div>

    </div>
</div>
<div id="f_ajax_loading" class="f-ajax-loading">正在加载...</div>
<input type="hidden" id="F_CHANGED" name="F_CHANGED" value="false">

<div class="x-tip x-layer x-tip-default x-border-box" id="ext-quicktips-tip" style="display: none;">
    <div class="x-tip-header x-header x-header-horizontal x-docked x-unselectable x-tip-header-default x-horizontal x-tip-header-horizontal x-tip-header-default-horizontal x-top x-tip-header-top x-tip-header-default-top x-docked-top x-tip-header-docked-top x-tip-header-default-docked-top"
         id="ext-quicktips-tip_header">
        <div id="ext-quicktips-tip_header-body"
             class="x-header-body x-tip-header-body x-tip-header-body-default x-tip-header-body-horizontal x-tip-header-body-default-horizontal x-tip-header-body-top x-tip-header-body-default-top x-tip-header-body-docked-top x-tip-header-body-default-docked-top x-box-layout-ct x-tip-header-body-default-horizontal x-tip-header-body-default-top x-tip-header-body-default-docked-top">
            <div id="ext-quicktips-tip_header-innerCt" class="x-box-inner " role="presentation">
                <div id="ext-quicktips-tip_header-targetEl" class="x-box-target">
                    <div class="x-component x-header-text-container x-tip-header-text-container x-tip-header-text-container-default x-box-item x-component-default"
                         unselectable="on" id="ext-quicktips-tip_header_hd"><span
                            id="ext-quicktips-tip_header_hd-textEl"
                            class="x-header-text x-tip-header-text x-tip-header-text-default"
                            unselectable="on">&nbsp;</span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="ext-quicktips-tip-body" class="x-tip-body x-tip-body-default x-tip-body-default"><span
            id="ext-quicktips-tip-outerCt" style="display:table;"><div id="ext-quicktips-tip-innerCt"
                                                                       style="display:table-cell;height:100%;vertical-align:top;"
                                                                       class=""></div></span></div>
    <div class="x-tip-anchor x-tip-anchor-top" id="ext-gen1024"></div>
</div>
</body>

</html>
