<!DOCTYPE html>
<html class="x-strict">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        行动企 - 应聘工作首选
    </title>

    <script src="../js/jquery-1.7.2-vsdoc.js" type="text/javascript"></script>
    <script src="../js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="../js/popup/popup.js" type="text/javascript"></script>
    <link href="../css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../js/JScalendar.js"></script>
    <script type="text/javascript" src="../jquery-validation/1.11.0/jquery.validate.js"></script>
    <script type="text/javascript" src="../layer/layer.js"></script>
    <script type="text/javascript" src="../pager/kkpager.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/payInfo/payInfo.js"></script>
    <link href="../css/all.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" type="text/css" rel="stylesheet">
    <link type="text/css" src="../jquery-validation/1.11.0/jquery.validate.css">
    <link type="text/css" src="../pager/kkpager_blue.css">
    <link rel="icon" href="data:;base64,=">
    <style>
        #kkpager {
            clear: both;
            color: #999;
            padding: 5px 0px 5px 0px;
            font-size: 13px;
        }

        #kkpager a {
            float: left;
            border: 1px solid #ccc;
            display: inline;
            padding: 0px 10px;
            line-height: 21px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            cursor: pointer;
            background: #fff;
            text-decoration: none;
            color: #999;
        }

        #kkpager span.disabled {
            float: left;
            display: inline;
            padding: 3px 10px 3px 10px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #DFDFDF;
            background-color: #FFF;
            color: #DFDFDF;
        }

        #kkpager span.curr {
            float: left;
            border: 1px solid #31ACE2;
            display: inline;
            padding: 3px 10px 3px 10px;
            margin-right: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background: #F0FDFF;
            color: #31ACE2;
        }

        #kkpager a:hover {
            border: 1px solid #31ACE2;
            background-color: #31ACE2;
            color: #fff;
        }

        #kkpager span.normalsize {
        }

        #kkpager_gopage_wrap {
            position: relative;
            left: 0px;
            top: 0px;
        }

        #kkpager_btn_go {
            width: 44px;
            height: 18px;
            border: 0px;
            overflow: hidden;
            line-height: 140%;
            padding: 0px;
            margin: 0px;
            text-align: center;
            cursor: pointer;
            background-color: #31ACE2;
            color: #FFF;
            position: absolute;
            left: 0px;
            top: -2px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            display: none;
        }

        #kkpager_btn_go_input {
            width: 36px;
            height: 14px;
            color: #999;
            text-align: center;
            margin-left: 1px;
            margin-right: 1px;
            border: 1px solid #DFDFDF;
            position: relative;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            left: 0px;
            top: 0px;
            outline: none;
        }

        #kkpager_btn_go_input.focus {
            border-color: #31ACE2;
        }

        #kkpager .pageBtnWrap {
            float: left;
        }

        #kkpager .infoTextAndGoPageBtnWrap {
            float: left;
        }

        #kkpager .spanDot {
            float: left;
            margin-right: 5px;
        }

        #kkpager .currPageNum {
            color: #FD7F4D;
        }

        #kkpager .infoTextAndGoPageBtnWrap {
            line-height: 23px;
            padding: 0 5px;
        }

        #kkpager .totalRecords {
            float: right;
            margin-right: 5px;
        }
    </style>
</head>

<body class="x-body x-webkit x-chrome x-mac f-body f-theme-neptune" id="ext-gen1018">
<div id="ContainerPanel" style="display:none;">
    <div id="calendarPanel"
         style="position: absolute;display: none;z-index: 9999;background-color: #FFFFFF;border: 1px solid #CCCCCC;width:175px;font-size:12px;margin-left:25px;"></div>
</div>

<div class="header">
</div>

<div>
    <div>

        <table class="daohang">
            <tbody>
            <tr>
                <td align="left" style="width:47%">
                    &nbsp;&nbsp;&nbsp;
                    <div id="ctl00_ContentPlaceHolder1_lblInfo_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lblInfo" style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label id="ctl00_ContentPlaceHolder1_lblInfo-labelEl"
                                                                      for="ctl00_ContentPlaceHolder1_lblInfo-inputEl"
                                                                      class="x-form-item-label x-unselectable x-form-item-label-left"
                                                                      style="width:100px;margin-right:5px;"
                                                                      unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lblInfo-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lblInfo-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false"><span id="callSpan"></span>
                                    </div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lblInfo-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="ctl00_ContentPlaceHolder1_lnkLogout_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lnkLogout" style="table-layout: auto;">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </td>
                <td align="center" style="width:18%">
                    &nbsp;<a href="/home">返回首页</a></td>

                <td align="center" style="width:18%">
                    <div id="ctl00_ContentPlaceHolder1_lbtjobquery_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lbtjobquery"
                               style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label
                                        id="ctl00_ContentPlaceHolder1_lbtjobquery-labelEl"
                                        for="ctl00_ContentPlaceHolder1_lbtjobquery-inputEl"
                                        class="x-form-item-label x-unselectable x-form-item-label-left"
                                        style="width:100px;margin-right:5px;" unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lbtjobquery-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lbtjobquery-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false"><a href="javascript:;"
                                    >网上报名</a>
                                    </div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lbtjobquery-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td align="center" style="width:17%">
                    <div id="ctl00_ContentPlaceHolder1_lblPersonInfo_wrapper" class="f-inline-block">
                        <table class="x-field x-table-plain x-form-item x-form-readonly x-form-type-text x-field-default x-border-box"
                               cellpadding="0" id="ctl00_ContentPlaceHolder1_lblPersonInfo"
                               style="table-layout: auto;">
                            <tbody>
                            <tr role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-inputRow"
                                class="x-form-item-input-row">
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-labelCell"
                                    style="display:none;" valign="top" halign="left" width="105"
                                    class="x-field-label-cell"><label
                                        id="ctl00_ContentPlaceHolder1_lblPersonInfo-labelEl"
                                        for="ctl00_ContentPlaceHolder1_lblPersonInfo-inputEl"
                                        class="x-form-item-label x-unselectable x-form-item-label-left"
                                        style="width:100px;margin-right:5px;" unselectable="on"></label></td>
                                <td role="presentation" class="x-form-item-body x-form-display-field-body "
                                    id="ctl00_ContentPlaceHolder1_lblPersonInfo-bodyEl" colspan="3">
                                    <div id="ctl00_ContentPlaceHolder1_lblPersonInfo-inputEl" role="input"
                                         class="x-form-display-field" aria-invalid="false"><a
                                            href="/getUserInfo">支付信息</a>
                                    </div>
                                </td>
                                <td role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-sideErrorCell"
                                    valign="middle" style="display: none;" width="21">
                                    <div role="presentation" id="ctl00_ContentPlaceHolder1_lblPersonInfo-errorEl"
                                         class="x-form-error-msg x-form-invalid-icon" style="display:none"
                                         data-errorqtip=""></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="register">
            <div id="ctl00_ContentPlaceHolder1_Form1_wrapper">
                <div class="x-panel register x-panel-default x-border-box" style="width: 650px; height: 369px;"
                     id="ctl00_ContentPlaceHolder1_Form1">
                    <div class="x-panel-header x-header x-header-horizontal x-docked x-unselectable x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-panel-default-outer-border-trl"
                         id="ctl00_ContentPlaceHolder1_Form1_header"
                         style="width: 650px; right: auto; left: 0px; top: 15px;">
                        <div id="ctl00_ContentPlaceHolder1_Form1_header-body"
                             class="x-header-body x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-box-layout-ct x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-docked-top"
                             style="width: 630px;">
                            <div id="ctl00_ContentPlaceHolder1_Form1_header-innerCt" class="x-box-inner "
                                 role="presentation" style="width: 630px; height: 16px;">
                                <div id="ctl00_ContentPlaceHolder1_Form1_header-targetEl" class="x-box-target"
                                     style="width: 630px;">
                                    <div class="x-component x-header-text-container x-panel-header-text-container x-panel-header-text-container-default x-box-item x-component-default"
                                         id="ctl00_ContentPlaceHolder1_Form1_header_hd"
                                         style="right: auto; left: 0px; top: 0px; margin: 0px; width: 630px;"><span
                                            id="ctl00_ContentPlaceHolder1_Form1_header_hd-textEl"
                                            class="x-header-text x-panel-header-text x-panel-header-text-default"
                                    >支付信息</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ctl00_ContentPlaceHolder1_Form1-body"
                         class="x-panel-body x-panel-body-default x-panel-body-default x-noborder-tb x-panel-default-outer-border-rl"
                         style="padding: 5px; width: 650px; left: 0px; top: 36px;">
                        <div class="info">
                            <table>
                                <tr>
                                    <td colspan="4">商品信息：</td>
                                    <td colspan="6">
                                        <span>岗位报名服务费用</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">收款方：</td>
                                    <td colspan="6">
                                        <span>惠州市和臣科技有限公司</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">收款内容：</td>
                                    <td colspan="6">
                                        <span>杂物费和快递费</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">收款金额：</td>
                                    <td colspan="6">
                                        <span style="color: darkred;font-weight: bold">RMB : 15</span>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="x-toolbar x-docked x-toolbar-default x-docked-bottom x-toolbar-docked-bottom x-toolbar-default-docked-bottom x-box-layout-ct x-panel-default-outer-border-rbl"
                         id="ctl00_ContentPlaceHolder1_Form1_Toolbar1"
                         style="width: 650px; right: auto; left: 0px; top: 142px;">
                        <div id="ctl00_ContentPlaceHolder1_Form1_Toolbar1-innerCt" class="x-box-inner " role="presentation"
                             style="width: 640px; height: 24px;">
                            <div id="ctl00_ContentPlaceHolder1_Form1_Toolbar1-targetEl" class="x-box-target"
                                 style="width: 640px;">
                                <a href="javascript:void(0)"
                                   class="x-btn x-unselectable x-btn-toolbar x-box-item x-toolbar-item x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon"
                                   role="button" hidefocus="on" unselectable="on" tabindex="0"
                                   id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnRegister"
                                   style="right: auto; left: 166px; top: 0px; margin: 0px;"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnRegister-btnWrap" class="x-btn-wrap"
                                        unselectable="on"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnRegister-btnEl"
                                        class="x-btn-button"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnRegister-btnInnerEl"
                                        class="x-btn-inner x-btn-inner-center" unselectable="on">微信支付</span>
										<span role="img"
                                              id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnRegister-btnIconEl"
                                              class="x-btn-icon-el" unselectable="on" style=""></span></span>
										</span>
                                </a>

                                <a href="javascript:void(0)"
                                   class="x-btn x-unselectable x-btn-toolbar x-box-item x-toolbar-item x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon"
                                   role="button" hidefocus="on" unselectable="on" tabindex="0"
                                   style="right: auto; left: 264px; top: 0px; margin: 0px;"><span class="x-btn-wrap" unselectable="on"><span class="x-btn-button"><span
                                        class="x-btn-inner x-btn-inner-center" >支付宝支付</span>
										<span role="img" class="x-btn-icon-el" onclick="alipay()" style=""></span></span>
										</span>
                                </a>


                                <a href="/home"
                                   class="x-btn x-unselectable x-btn-toolbar x-box-item x-toolbar-item x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon"
                                   style="margin: 0px; right: auto; left: 374px; top: 0px;" role="button" hidefocus="on"
                                   unselectable="on" tabindex="0"
                                   id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnCancel"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnCancel-btnWrap" class="x-btn-wrap"
                                        unselectable="on"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnCancel-btnEl"
                                        class="x-btn-button"><span
                                        id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnCancel-btnInnerEl"
                                        class="x-btn-inner x-btn-inner-center" unselectable="on">取消</span><span role="img"
                                                                                                                id="ctl00_ContentPlaceHolder1_Form1_Toolbar1_btnCancel-btnIconEl"
                                                                                                                class="x-btn-icon-el  "
                                                                                                                unselectable="on"
                                                                                                                style=""></span></span>
										</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="botton">版权所有 © 和臣 - 行动企<br> 备案号 ： 粤ICP备19159726号-1</div>
    </div>
</div>

</body>
</html>