<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>行动企 - 应聘工作首选</title>
	<link href="../css/all.css" rel="stylesheet" type="text/css">
	<link href="../css/index.css" type="text/css" rel="stylesheet">
	<link href="../css/popup.css" type="text/css" rel="stylesheet">
	<script src="../js/jquery-1.7.2-vsdoc.js" type="text/javascript"></script>
	<script src="../js/jquery-1.7.2.js" type="text/javascript"></script>
	<script src="../js/popup/popup.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/JScalendar.js"></script>
	<script type="text/javascript" src="../jquery-validation/1.11.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="../jquery-validation/1.11.0/jquery.validate.js"></script>
	<script type="text/javascript" src="../layer/layer.js"></script>
	<script type="text/javascript" src="../js/util.js"></script>
	<script type="text/javascript" src="../js/reg/reg.js"></script>
	<link type="text/css" src="jquery-validation/1.11.0/jquery.validate.css">
	<style>
		.zc-form tr {
			/*background: pink;*/
			margin-bottom: 5px;
		}

		.zc-form tr td:first-child {
			width: 120px;
			text-align: right;
		}

		.zc-form tr td input {
			width: 260px;
		}

		.zc-form tr .error {
			color: red!important;
		}
	</style>
</head>

<body class="x-body x-webkit x-chrome x-mac f-body f-theme-neptune" id="ext-gen1018">
<div id="ContainerPanel" style="display:none;">
	<div id="calendarPanel" style="position: absolute;display: none;z-index: 9999;background-color: #FFFFFF;border: 1px solid #CCCCCC;width:175px;font-size:12px;margin-left:25px;"></div>
</div>
<form name="aspnetForm" method="post" action="/userInfoAdd" id="userInfoForm">
	<div>
		<table class="daohang">
			<tr>
				<td align="left" style="width: 47%">&nbsp;
					<a href="home">返回首页</a>
				</td>
				<td style="width: 18%"></td>
				<td style="width: 18%"></td>
				<td style="width: 17%"></td>
			</tr>
		</table>
	</div>

	<div class="register">

		<div id="ctl00_ContentPlaceHolder1_RegisterForm_wrapper">
			<div class="x-panel register x-panel-default x-border-box" style="width: 500px; height: 300px;" id="ctl00_ContentPlaceHolder1_RegisterForm">
				<div class="x-panel-header x-header x-header-horizontal x-docked x-unselectable x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-panel-default-outer-border-trl" id="ctl00_ContentPlaceHolder1_RegisterForm_header" style="width: 500px; right: auto; left: 0px; top: 15px;">
					<div id="ctl00_ContentPlaceHolder1_RegisterForm_header-body" class="x-header-body x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-box-layout-ct x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-docked-top" style="width: 480px;">
						<div id="ctl00_ContentPlaceHolder1_RegisterForm_header-innerCt" class="x-box-inner " role="presentation" style="width: 480px; height: 16px;">
							<div id="ctl00_ContentPlaceHolder1_RegisterForm_header-targetEl" class="x-box-target" style="width: 480px;">
								<div class="x-component x-header-text-container x-panel-header-text-container x-panel-header-text-container-default x-box-item x-component-default" unselectable="on" id="ctl00_ContentPlaceHolder1_RegisterForm_header_hd" style="right: auto; left: 0px; top: 0px; margin: 0px; width: 480px;"><span id="ctl00_ContentPlaceHolder1_RegisterForm_header_hd-textEl" class="x-header-text x-panel-header-text x-panel-header-text-default" unselectable="on">用户注册</span></div>
							</div>
						</div>
					</div>
				</div>
				<div id="ctl00_ContentPlaceHolder1_RegisterForm-body" class="x-panel-body x-panel-body-default x-panel-body-default x-noborder-tb x-panel-default-outer-border-rl" style="padding: 5px; width: 500px; left: 0px; top: 36px; height: 220px;">
					<table class="zc-form">
						<tr>
							<td colspan="6">
								登录账号
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input type="text" id="userName" size="1" name="userName" class="required">
							</td>
						</tr>
						<tr>
							<td colspan="6">
								密码
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input id="password" type="password" size="1" name="password" class="required">
							</td>
						</tr>
						<tr>
							<td colspan="6">
								确认密码
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input type="password" size="1" name="newPassword" class="required">
							</td>
						</tr>
						<tr>
							<td colspan="6">
								真实姓名
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input type="text" id="realName" size="1" name="realName" class="required">
							</td>
						</tr>
						<tr>
							<td colspan="6">
								联系电话
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input id="telephone" type="text" size="1" name="telephone" class="required">
							</td>
						</tr>
						<tr>
							<td colspan="6">
								电子邮箱
								<span style="color:red;">*</span>：
							</td>
							<td>
								<input type="text" id="email" size="1" name="email" class="required email">
							</td>
						</tr>
					</table>
				</div>
				<div class="x-toolbar x-docked x-toolbar-default x-docked-bottom x-toolbar-docked-bottom x-toolbar-default-docked-bottom x-box-layout-ct x-panel-default-outer-border-rbl" id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1" style="width: 500px; right: auto; left: 0px; top: 262px;">
					<div id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1-innerCt" class="x-box-inner " role="presentation" style="width: 490px; height: 24px;">
						<div id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1-targetEl" class="x-box-target" style="width: 490px;">
							<a class="x-btn x-unselectable x-btn-toolbar x-box-item x-toolbar-item x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon" role="button" hidefocus="on" unselectable="on" tabindex="0" id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnRegister" style="right: auto; left: 179px; top: 0px; margin: 0px;"><span id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnRegister-btnWrap" class="x-btn-wrap" unselectable="on"><span
									id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnRegister-btnEl"
									class="x-btn-button"><span
									id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnRegister-btnInnerEl"
									class="x-btn-inner x-btn-inner-center" unselectable="on" >注册</span><span role="img" id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnRegister-btnIconEl" class="x-btn-icon-el  " unselectable="on" style="" onclick="submitFun()"></span></span>
										</span>
							</a>
							<a onclick="window.close()" class="x-btn x-unselectable x-btn-toolbar x-box-item x-toolbar-item x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon" style="margin: 0px; right: auto; left: 269px; top: 0px;" role="button" hidefocus="on" unselectable="on" tabindex="0" id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnCancel"><span id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnCancel-btnWrap" class="x-btn-wrap" unselectable="on"><span
									id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnCancel-btnEl"
									class="x-btn-button"><span
									id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnCancel-btnInnerEl"
									class="x-btn-inner x-btn-inner-center" unselectable="on">取消</span><span role="img" id="ctl00_ContentPlaceHolder1_RegisterForm_Toolbar1_btnCancel-btnIconEl" class="x-btn-icon-el  " unselectable="on" style="" ></span></span>
										</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="f_ajax_loading" class="f-ajax-loading">正在加载...</div>
	<input type="hidden" id="F_CHANGED" name="F_CHANGED" value="false">
</form>
<div class="botton">版权所有 © 和臣 - 行动企<br> 备案号 ： 粤ICP备19159726号-1 </div>
</div>

</body>

</html>>