<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.alipay.mapper.AlipayMapper">

    <insert id="insertAlipayResponseEntity" parameterType="com.hc.modules.alipay.entity.ResponseEntity" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO alipay(
                      id,
                      notify_time,
                      notify_type,
                      notify_id,
                      charset,
                      version,
                      sign_type,
                      sign,
                      auth_app_id,
                      trade_no,
                      app_id,
                      out_trade_no,
                      out_biz_no,
                      buyer_id,
                      seller_id,
                      trade_status,
                      total_amout,
                      refund_fee,
                      subject,
                      body,
                      gmt_create,
                      gmt_payment,
                      gmt_refund,
                      gmt_close,
                      fund_bill_list,
                      passback_params
        )
        VALUES (
                    
                      #{id},
                      #{notify_time},
                      #{notify_type},
                      #{notify_id},
                      #{charset},
                      #{version},
                      #{sign_type},
                      #{sign},
                      #{auth_app_id},
                      #{trade_no},
                      #{app_id},
                      #{out_trade_no},
                      #{out_biz_no},
                      #{buyer_id},
                      #{seller_id},
                      #{trade_status},
                      #{total_amout},
                      #{refund_fee},
                      #{subject},
                      #{body},
                      #{gmt_create},
                      #{gmt_payment},
                      #{gmt_refund},
                      #{gmt_close},
                      #{fund_bill_list},
                      #{passback_params}
        )
    </insert>

</mapper>
